<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Dashboard </title>  

</head>    
<body>    
    <center> <h1> Welcome to our Dashboard </h1> </center>   
    <form action='/logout' method="POST">  
        <button type="submit">Logout</button>     
    </form>     
</body>     
</html> 